.template {
    display:none;
}

h1 {
    font-size: 2.1em;
    margin-bottom: 10px;
    font-variant:small-caps;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 10px;
    font-variant:small-caps;
}

a {
    text-decoration:none;
    color: rgb(0, 133, 255);
    font-weight: bold;
}

a:visited {
    color: rgb(0, 133, 255);
}

p.error{
    background-color: red;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

header p.error{
    clear:left;
}

input[type=submit], input[type=button] {
    color: #ffb423;
    background-color: #162737;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ff00f0;
    padding: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.login input[type=submit], .login-help input[type=submit], .logout input[type=submit]{
    color: #ffb423;
    background-color: #162737;
    font-weight: bold;
}

body {
    background: url(../img/background.png) repeat-x center center;
    background-attachment:fixed;
    width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

header, menu.main, section{
  background: rgba(247, 180, 253, 0.96);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #000;
}

header {
  margin: 15px 0;
}

#h1img{
    background: url(../img/img1.png) no-repeat top right;
    height: 190px;
    margin-right: 50px;
}

header h1{
  padding: 20px;
  font-variant:small-caps;
}

header:after, section:after, #content ul li:after {
  content: "";
  display: table;
  clear: both;
}

header img {
    float: left;
}

header form.logout{
    float:right;
}

div#left{
    width: 28%;
    margin-right: 2%;
    float: left;
    clear:left;
}

menu.main, #copyright {
    margin-bottom: 10px;
}

menu.main, #loginSection {
    margin-bottom: 10px;
}

menu.main a{
    display: block;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

menu.main a:hover{
    color: #ffb423;
    background-color: #162737;
    border: 1px solid #ff00f0;
}

menu.main a.hidden{
    display: none;
}

.plus {
    float: right;
    cursor: pointer;
}

#questionsForm {
    float: left;
}

#copyright{
  padding: 10px;
  background: url(../img/copyleft.png) no-repeat bottom right;
  background-color: #162737;
  height: 100px;
}

#copyright p{
    font-size: 1.1em;
    text-align: center;
    padding-right: 60px;
    color: rgb(247, 180, 253);
}

#chirp{
    padding: 10px;
    background-color: whiteSmoke;
}

#chirp textarea {
    width: 100%;
    height: 10em;
    color: #AAA;
    border-radius: 4px;
    -moz-border-radius: 4px
}

#chirp input {
    float:right;
}

#content {
    width: 70%;
    float:left;
    padding:10px;
}

#content h1 {
    border-bottom: 1px solid #EEE;
    padding: 10px;
}

#content ul li{
    padding: 5px 10px;
    border-bottom: 1px solid #EEE;
    position:relative;
}

/*
#content ul li img{
    width: 48px;
    height: 65px;
    position: absolute;
    top:10px;
    left:10px;
    margin-right: 10px;
}
*/

#content ul li date{
    float:right;
}

#content ul li address {
    margin: 0 0 5px 60px;
}


#content ul li address .name{
    font-size: 1.1em;
    margin-right: 5px;
}


#content ul li address .username, #content ul li date{
    font-size: 0.9em;
    color: #999;
}

#content ul li p {
    margin: 0 0 2em 60px;
}

#content ul li menu {
    margin-left: 60px;
    visibility: hidden;
    position:absolute;
    bottom: 1em;
}

#content ul li:hover menu {
    visibility: visible;
    font-size: 0.9em;
}

#content ul li:hover menu a{
    padding: 0 5px;
}

#content #editForm{
    background: url(../img/img2.png) no-repeat top right;
}

#content #create_survey_form ul li, #content #edit_survey_form ul li{
    vertical-align: middle;
    border-bottom: none;
}

#content #create_survey_form input, #content #edit_survey_form input {
    margin:5px;
    width: 200px;
    float: left;
}

#content #create_survey_form ul, #content #edit_survey_form ul {
    list-style: none;
}

#content #create_survey_form ul form li, #content #edit_survey_form ul form li {
    width: 500px;
    margin: 0 0 10px;
    float: left;
    clear:both;
}

#content #create_survey_form label, #content #edit_survey_form label {
    float: left;
    min-width: 60px;
    padding: 5px 20px 0 0;
    text-align: left;
    width: 4em;
}

#content #edit_survey_form #title, #content #create_survey_form #title{
    width: 300px;
}

#content #surveysList ul li.surveyItem:hover{
  background-color: #00f;
  color: #fff;
}

 tr.surveyItem:hover{
   background-color: #00f;
   color: #fff;
  cursor: pointer;
 }

.surveyItem td {

  padding: 2px;
}

table {
    width:100%;
}

.surveyItem .numAnswers {
    width: 100px;
    float: right
}

.hidden {
    display: none;
}

.questionTextArea {
    resize:vertical;
    width:520px;
}

.answerTextArea {
    resize:none;
    width:520px;
}

.options {
    resize:none;
    width:460px;
    text-align: left;
    margin-top: 5px;
}

.questionOptions {
    vertical-align: middle;
    margin-top:5px;
    width:230px;
}

.deleteQuestion {
    float:right;
}

#updateSurvey {
    width:100px;
}

#add_question {
    float:right;
}

#publishSurvey {
    width:100px;
    margin-right:20px;
    background-color: #DFF2BF;
    color: #4F8A10;
    border: 1px solid;
}

.info, .success, .warning, .error, .validation {
  border: 3px dotted;
  margin: 10px 0px;
  padding:15px 15px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
}
.info {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 255);
    background-image: url('../img/info.png');
    padding-left: 90px;
}
.success {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
    background-image: url('../img/success.png');
    padding-left: 90px;
}
.warning {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
    background-image: url('../img/warning.png');
    padding-left: 90px;
}
.error {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    background-image: url('../img/error.png');
    padding-left: 90px;
}

.deleteSurvey {
    float:right;
    width:20px;
    display:none;
}

#content ul li:hover .deleteSurvey{
    display:block;
}

.add_question_icon {
    float:float;
    width:20px;
    margin-top:10px;
    margin-left: 10px;
}

.deleteOption {
    float:right;
    margin-top:3px;
    width:20px;
}

.optionDiv {
    width:500px;
    padding-left: 10px;
}

#loginSection {
    padding:10px;
    background: url(../img/log.png) no-repeat bottom left;
    background-color: rgba(247, 180, 253, 0.96);
}

.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 11px;
  color: #000;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

.login-help {
  margin: 5px 0;
  font-size: 11px;
  color: #000;
  text-align: right;
}
.login-help a {
  color: #2a85a1;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.login p.submit {
  text-align: right;
}

.login input[type=text], .login input[type=password] {
  width: 99%;
  height: 25px;
  margin:2px;
}

.login h1 {
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-variant:small-caps;
}

#signIn {
    float:right;
}

#loginBtn {
    width:100px;
}

#loginfeedback{
    font-size:12px;
    color: red;
    text-align: center;
}

#logoutBtn {
    width:100px;
}

.logout p {
    text-align: center;
}

.signInContainer {
    width:100%;
    padding:10px;
    padding-right: 100px;
    background: url(../img/welcome.png) no-repeat top right;
}

.signInContainer input[type=text],  .signInContainer input[type=password]{
    width:50%;
    height: 25px;
    margin-bottom: 5px;
}

.signInContainer input[type=submit] {
    width: 120px;
    margin-top: 10px;
    float: right;
}

.signInContainer label {
    width: 50%;
    float:left;
}

.signInContainer form {
    padding-top:10px;
    width:300px;
}

.signInError {
   font-size:14px;
   color: red;
   padding-bottom:5px;
   text-align: center;
}

.fieldError {
    color: red;
}

.surveyAnsweredItem td {
    padding:8px;
}

.surveyAnsweredItem:hover{
   background-color: #00f;
   color:white;
   cursor: pointer;
}

#headerAnsw th{
    padding:8px;
}

#surveyTitle {
    line-height:100%;
}

#surveysList {
    margin-Top:10px;
}
