.template {
    display:none;
}

h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

a {
    text-decoration:none;
    color: #09C;
}

a:visited {
    color: #09C;
}

p.error{
    background-color: red;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

header p.error{
    clear:left;
}

input[type=submit], input[type=button] {
    color: white;
    background-color: #019AD2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: none;
    padding: 5px;
    cursor: pointer;

}

body {
    background: url(../img/background.png) repeat-x left top;
    background-attachment:fixed;
    width: 800px;
    margin: 0 auto;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

header, menu.main, section{
  background: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #EEE;
}

header {
  padding: 10px;
  margin: 15px 0;

}

header:after, section:after, #content ul li:after {
  content: "";
  display: table;
  clear: both;
}

header img {
    float: left;
    margin: 1em;
}

header form.logout{
    float:right;
}

div#left{
    width: 28%;
    margin-right: 2%;
    float: left;
    clear:left;
}

menu.main, #copyright {
    margin-bottom: 10px;
}

menu.main a{
    display: block;
    border-bottom: 1px solid #EEE;
    padding: 10px;
    background-color: #F9F9F9;
}

menu.main a:hover{
    background-color: #ffffff;
}

menu.main a.hidden{
    display: none;
}

.plus {
    float: right;
    cursor: pointer;
}

#questionsForm {
    float: left;
}

#copyright{
  padding: 10px;
}

#copyright p{
    font-size: 0.9em;
    color: #666;
}

#chirp{
    padding: 10px;
    background-color: whiteSmoke;
}

#chirp textarea {
    width: 100%;
    height: 10em;
    color: #AAA;
    border-radius: 4px;
    -moz-border-radius: 4px
}

#chirp input {
    float:right;
}

#content {
    width: 70%;
    float:left;
    padding:10px;
}

#content h1 {
    border-bottom: 1px solid #EEE;
    padding: 10px;
}

#content ul li{
    padding: 5px 10px;
    border-bottom: 1px solid #EEE;
    position:relative;
}

/*
#content ul li img{
    width: 48px;
    height: 65px;
    position: absolute;
    top:10px;
    left:10px;
    margin-right: 10px;
}
*/

#content ul li date{
    float:right;
}

#content ul li address {
    margin: 0 0 5px 60px;
}


#content ul li address .name{
    font-size: 1.1em;
    margin-right: 5px;
}


#content ul li address .username, #content ul li date{
    font-size: 0.9em;
    color: #999;
}

#content ul li p {
    margin: 0 0 2em 60px;
}

#content ul li menu {
    margin-left: 60px;
    visibility: hidden;
    position:absolute;
    bottom: 1em;
}

#content ul li:hover menu {
    visibility: visible;
    font-size: 0.9em;
}

#content ul li:hover menu a{
    padding: 0 5px;
}

#content #create_survey_form ul li, #content #edit_survey_form ul li{
    vertical-align: middle;
    border-bottom: none;
}

#content #create_survey_form input, #content #edit_survey_form input {
    margin:5px;
    width: 200px;
    float: left;
}

#content #create_survey_form ul, #content #edit_survey_form ul {
    list-style: none;
}

#content #create_survey_form ul form li, #content #edit_survey_form ul form li {
    width: 500px;
    margin: 0 0 10px;
    float: left;
    clear:both;
}

#content #create_survey_form label, #content #edit_survey_form label {
    float: left;
    min-width: 60px;
    padding: 5px 20px 0 0;
    text-align: left;
}

#content #surveysList ul li.surveyItem:hover{
  background-color: #00f;
  color: #fff;
}

.hidden {
    display: none;
}

.questionTextArea {
    resize:vertical;
    width:520px;
}

.options {
    resize:none;
    vertical-align: bottom;
}

.questionOptions {
    vertical-align: middle;
}

.deleteQuestion {
    float:right;
}

#updateSurvey {
    width:100px;
}

#publishSurvey {
    width:100px;
    margin-right:20px;
    background-color: #DFF2BF;
    color: #4F8A10;
    border: 1px solid;
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../img/info.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../img/success.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../img/warning.png');
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../img/error.png');
}

.deleteSurvey {
    float:right;
    width:20px;
    display:none;
}

#content ul li:hover .deleteSurvey{
    display:block;
}